<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Welcome to the page of <%= @user.username %></h2>

<% if current_user == @user %>
  <h3>This is my page!!!</h3>
<% end %>

<% if logged_in? %>
    <%= button_to "Logout", sessions_path, method: :delete %>
<% else %>
    <%= button_to "Login Page", login_path, method: :get %>
<% end %>
