<h1>Find a brewery</h1>

Find brewery by:
<%= button_to "Name", breweries_name_path, method: :get %>
<br>
<%= button_to "City", breweries_city_path, method: :get %>
<br>
<%= button_to "ZIP code", root_path, method: :get %>
