.brewery_index_header {
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
}

.brewery_index {
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}