body {
    background-image: url('https://images.pexels.com/photos/681847/pexels-photo-681847.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: white
}

.main{
    text-align: center;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 32px;

}

.links{
    text-align: center;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 54px;
}