.info {
    text-align: center;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}

.form {
    text-align: center;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
}