.user_header {
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}

.reviewed_beers {
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}

.tracked_beers {
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}

.new_review {
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px; 
}

.user_links {
    text-align: left;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px; 
}